.card {
  flex: 0 1 96px;
  
  height: 96px;
  
  overflow: hidden;
  transition-property: flex;
  
  background-color: #222;
}

.card-wrapper {
  display: block;
  width: 1000px;

  color: white;
  text-decoration: none;
  text-align: left;
}

.card-iconstack,
.card-content {
  display: inline-block;
  vertical-align: middle;
}

.card-title {
  font-size: 140%;
  font-weight: 500;
  line-height: 1.3em;
}

.card-subtitle {
  font-size: 90%;
  font-weight: normal;
  font-family: $fontstack-serif;
}

.card-small {
  font-size: 75%;
}

.card-icon {
  width: 96px;
  height: 96px;
  transition-property: width, height;
}

.card:hover {
  // width: 172px;
  // height: 256px;
  
  background-color: #222;
  border-color: darken(#47985c, 10);
  color: white;
  
  flex: 0 1 320px;
  
  padding-bottom: 20px;
  
  // .card-icon {
  //   width: 148px;
  //   height: 148px;
  // }
}

// @include respond(0, 533px) {
//   .card-icon {
//     width: 72px;
//     height: 72px;
//   }  
// }